.header
{   
    
  height: 44px;
  @include mise_en_page_section;
  display: flex;
  flex-flow: row nowrap;
  justify-content:flex-start;
  align-items: center;
  
   &-logo{
    
    height: 100%;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
    
   padding-bottom: 10px;


   &-2{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
    padding-bottom: 10px;

   }
   
   }
   
   
  
  & a{
    text-decoration: none;
    color: #000;
   
    padding-left: 2%;
    box-sizing: border-box;
   
  }
   

}