@charset "UTF-8";
.header {
  height: 44px;
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.header-logo {
  height: 100%;
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.header-logo-2 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.header a {
  text-decoration: none;
  color: #000;
  padding-left: 2%;
  box-sizing: border-box;
}

.pied-page {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #353535;
  color: #FFF;
  padding-top: 30px;
  padding-left: 15px;
  padding-bottom: 30px;
  flex-flow: column wrap;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 5%;
}
.pied-page img {
  background-image: url("../../images/logo/ohmyfood@2xv2.svg");
}
.pied-page-p {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}
.pied-page-p i {
  width: 2rem;
}
.pied-page a {
  text-decoration: none;
  color: #FFF;
}

@font-face {
  font-family: "Roboto";
  src: url("../roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 50;
}
body {
  font-family: "Roboto";
  font-size: large;
  margin: auto;
  max-width: 1250px;
}

.bckg--color {
  background-color: #f6f6f6;
  z-index: -1;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1250px;
}
.loader i {
  color: #9356dc;
  animation: loading 1s ease-in-out both infinite 150ms;
  font-size: 40px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background-color: white;
}

.container, header {
  animation: loading-page 0.7s ease-in-out 2.2s both;
}

@keyframes loading {
  0% {
    transform: rotate(0turn);
    opacity: 1;
  }
  50% {
    transform: rotate(1turn);
    opacity: 0.75;
    color: #ff79da;
  }
  100% {
    transform: rotate(2turn);
    opacity: 1;
  }
}
@keyframes loading-steps {
  0% {
    opacity: 0.25;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes loading-page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.color {
  width: 290px;
  height: 70px;
  border-radius: 40px;
  background: linear-gradient(#ff79da, #9356dc);
  color: #FFF;
  border: none;
  font-size: x-large;
  box-shadow: 3px 3px 3px #d1d1d1;
  opacity: 1;
}
.color:hover {
  cursor: pointer;
  opacity: 0.85;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 3px 3px 3px #616161;
}
.color--green {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: #32b091;
  font-weight: bold;
  font-size: medium;
  z-index: 15;
  margin-left: 77%;
  margin-right: 2%;
  position: relative;
  bottom: 280px;
  border-radius: 3px;
}
@media screen and (min-width: 600px) {
  .color--green {
    margin-left: 85%;
  }
}
@media screen and (max-width: 425px) {
  .color--green {
    bottom: 250px;
  }
}
.color--dégradé {
  opacity: 1;
  font-weight: normal;
  color: black;
  background-color: #f6f6f6;
  -webkit-background-clip: text;
}
.color--dégradé:hover {
  animation: heart-o 1s ease-in-out both;
  cursor: pointer;
}
.color--dégradé:hover + .color--dégradé-1 {
  animation: heart-t 1.3s ease-in-out both;
}
.color--dégradé-1 {
  background: linear-gradient(#ff79da, #9356dc);
  color: transparent;
  -webkit-background-clip: text;
}

.heart-anim {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

@keyframes heart-t {
  0% {
    transform: translateY(-0.7) scale(0);
  }
  100% {
    transform: translateY(-1) scale(1);
  }
}
@keyframes heart-o {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    background-color: transparent;
  }
}
.bckg--color {
  border-radius: 50px 50px 0px 0px;
  position: relative;
  bottom: 70px;
}

.imgMenu {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  align-items: center;
  overflow: hidden;
  z-index: -3;
}
.imgMenu-1 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 619px) {
  .imgMenu-1 {
    width: auto;
    height: 100%;
  }
}
.imgMenu-2 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  .imgMenu-2 {
    width: auto;
    height: 100%;
  }
}
.imgMenu-3 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
}
.imgMenu-4 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 619px) {
  .imgMenu-4 {
    width: auto;
    height: 100%;
  }
}

.Menu {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 1199px) {
  .Menu {
    align-items: flex-start;
  }
}
.Menu-Titre {
  display: flex;
  width: 90%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  font-style: italic;
  font-weight: bolder;
}
@media screen and (max-width: 580px) and (min-width: 400px) {
  .Menu-Titre {
    font-size: 2rem;
  }
}
@media screen and (max-width: 399px) {
  .Menu-Titre {
    font-size: 1.5rem;
  }
}
.Menu-Titre i {
  font-size: 2.5rem;
}
@media screen and (max-width: 399px) {
  .Menu-Titre i {
    font-size: 2rem;
  }
}
.Menu-steps {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}
.Menu-steps-Titre {
  width: 100%;
  text-align: start;
}
.Menu-steps-Titre h3 {
  width: 35px;
  border-bottom: #99E2D0 2px solid;
  font-weight: normal;
}
.Menu-steps-box {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  width: 100%;
  box-shadow: 3px 3px 3px #e5e5e5;
  margin-bottom: 2rem;
  border-radius: 30px;
  overflow: hidden;
}
.Menu-steps-box-meal {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 30px;
  height: 100px;
  width: 100%;
  background-color: white;
  margin-right: 1px;
  line-height: normal;
  text-align: start;
  cursor: pointer;
}
.Menu-steps-box-meal-p1 {
  width: 80%;
  flex-grow: 5;
  overflow: hidden;
  white-space: normal;
  text-align: left;
  box-sizing: border-box;
  padding-left: 15px;
  margin-top: 3px;
  line-height: normal;
}
@media screen and (max-width: 505px) and (min-width: 460px) {
  .Menu-steps-box-meal-p1 {
    font-size: medium;
    width: 70%;
  }
}
@media screen and (max-width: 459px) {
  .Menu-steps-box-meal-p1 {
    font-size: small;
    width: 70%;
  }
}
.Menu-steps-box-meal-p2 {
  width: 40px;
  margin-right: 30px;
  flex-grow: 0;
  text-align: right;
  box-sizing: border-box;
  white-space: nowrap;
  margin-top: 3px;
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
  background-color: white;
}
.Menu-steps-box-meal-titre {
  display: inline-block;
  width: fit-content;
  flex-grow: 5;
  line-height: normal;
  margin-right: 20%;
  white-space: nowrap;
  text-align: start;
  padding-left: 15px;
  font-size: x-large;
  margin-bottom: 0px;
  margin-top: 13px;
}
@media screen and (max-width: 500px) and (min-width: 478px) {
  .Menu-steps-box-meal-titre {
    font-size: large;
    margin-bottom: 13px;
  }
}
@media screen and (max-width: 477px) {
  .Menu-steps-box-meal-titre {
    font-size: medium;
    margin-bottom: 13px;
  }
}
.Menu-steps-box-meal:hover + .Menu-steps-box-valid {
  transform: translateX(-100%);
}
.Menu-steps-box-meal:hover + .Menu-steps-box-valid i {
  transform: rotate(2turn);
}
.Menu-steps-box-meal:hover .Menu-steps-box-meal-p2 {
  transform: translateX(-100%);
}
.Menu-steps-box-meal:hover .Menu-steps-box-meal-p1, .Menu-steps-box-meal:hover .Menu-steps-box-meal-titre {
  width: 280px;
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 503px) and (min-width: 463px) {
  .Menu-steps-box-meal:hover .Menu-steps-box-meal-p1, .Menu-steps-box-meal:hover .Menu-steps-box-meal-titre {
    width: 210px;
    flex-grow: 0;
  }
}
@media screen and (max-width: 462px) and (min-width: 411px) {
  .Menu-steps-box-meal:hover .Menu-steps-box-meal-p1, .Menu-steps-box-meal:hover .Menu-steps-box-meal-titre {
    width: 190px;
    flex-grow: 0;
  }
}
@media screen and (max-width: 410px) and (min-width: 361px) {
  .Menu-steps-box-meal:hover .Menu-steps-box-meal-p1, .Menu-steps-box-meal:hover .Menu-steps-box-meal-titre {
    width: 160px;
    flex-grow: 0;
  }
}
@media screen and (max-width: 360px) {
  .Menu-steps-box-meal:hover .Menu-steps-box-meal-p1, .Menu-steps-box-meal:hover .Menu-steps-box-meal-titre {
    width: 130px;
    flex-grow: 0;
  }
}
.Menu-steps-box-valid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 100px;
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  z-index: 15;
  flex-shrink: 0;
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}
.Menu-steps-box-valid i {
  color: white;
  transform: rotate(0turn);
  transition: transform 0.5s ease-in-out;
}

.color {
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 50%;
  margin-right: 50%;
  flex-shrink: 0;
}

.anim {
  animation: loading-steps 0.7s ease-in-out 2.35s both;
}
.anim-d {
  animation: loading-steps 0.7s ease-in-out 2.4s both;
}
.anim-d2 {
  animation: loading-steps 0.7s ease-in-out 2.45s both;
}
.anim-d3 {
  animation: loading-steps 0.7s ease-in-out 2.5s both;
}

/*# sourceMappingURL=menu.css.map */
