.color
{
width: 290px;
height: 70px;
border-radius: 40px;
cursor: pointer;
@include color-dégradé();
@include police-color1($color-primary);
border: none;
font-size: map-get($map: $font-size , $key:x-large );
box-shadow: 3px 3px 3px #d1d1d1;
&--green
{
 display: flex;
 justify-content: center;
 align-items: center;   
width: 80px;
height: 30px;
background-color: $color-tertiary;
@include police-color1($color-tertiary);
font-weight: bold;
font-size: map-get($map: $font-size , $key:medium );
z-index: 15;
margin-left: 77%;
margin-right: 2%;
position:relative;
bottom: 280px;
border-radius: 3px;




}
}