.color
{
width: 290px;
height: 70px;
border-radius: 40px;
 
background:linear-gradient($color-secondary,$color-primary);
@include police-color1($color-primary);
border: none;
font-size: map-get($map: $font-size , $key:x-large );
box-shadow: 3px 3px 3px #d1d1d1;
opacity: 1;


&:hover
{
    cursor: pointer;
    opacity: 0.85;
    transition: opacity  0.3s ease-in-out;
    box-shadow: 3px 3px 3px #616161;
    
}
&--green
{
 display: flex;
 justify-content: center;
 align-items: center;   
width: 80px;
height: 30px;
background-color: $color-tertiary;
@include police-color1($color-tertiary);
font-weight: bold;
font-size: map-get($map: $font-size , $key:medium );
z-index: 15;
margin-left: 77%;
margin-right: 2%;
position:relative;
bottom: 280px;
border-radius: 3px;
@media screen and (min-width:600px){
margin-left: 85%; 

}
@media screen and (max-width:425px){
    
    bottom: 250px;
    
} 
}
&--dégradé
{   
    
        
       opacity: 1;
      
        font-weight: normal;
        color:black;
        background-color:#f6f6f6; 
        -webkit-background-clip: text;
       
       
       &:hover{
        animation: heart-o 1s ease-in-out both;
        cursor: pointer;

        &+ .color--dégradé-1{
            animation: heart-t 1.3s ease-in-out both;
            
        }
       }
    
    
    
    &-1
    {
        background: linear-gradient($color-secondary,$color-primary);
        color: transparent;
        
        -webkit-background-clip: text;
       
        
        
        
    }

  
    
}
}

.heart-anim
{
display: flex;
flex-flow: column nowrap;
justify-content: flex-start;
align-items: flex-start;
 width: 40px;
 height: 40px;
overflow: hidden; 


} 

@keyframes heart-t{
0%{
    transform: translateY(-0.7) scale(0) 
    
}

100%{
    
    transform: translateY(-1) scale(1) ;
}
}

@keyframes heart-o{
    from{
        opacity: 1;
        
    }
    to{
        opacity: 0;
        background-color: transparent;
        
    }
    }