@font-face
{
font-family: "Roboto";

src: url("../roboto/Roboto-Regular.ttf") ; 
font-style: normal;
font-weight: 50;
}



body
{ 
font-family: "Roboto";
   font-size: map-get($map: $font-size , $key:large );
   margin: auto; 
   max-width: 1250px;
  
   
}

.bckg--color
{
    background-color: #f6f6f6;
    z-index: -1;
}

.loader
{   
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1250px;
   & i
   {
    color: $color-primary;
    animation: loading 1s ease-in-out both infinite 150ms ;
    font-size: 40px;
   }
    
      
}

.container
{   
   
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
   
    background-color: white;

    
    

}
.container,header{
    animation: loading-page 0.7s ease-in-out 2.2s both ;
}


@keyframes loading{
    0%{
        transform: rotate(0turn);
        opacity: 1;
        
    }

    

    50%{
        transform: rotate(1turn);
        opacity: 0.75;
        color:$color-secondary;
    }
    
    100%{
        
        transform: rotate(2turn);
        opacity: 1;
        
        
    }
}

@keyframes loading-steps{
    0%{

        opacity: 0.25 ;
        transform: translateY(100%);
        
    }

    100%{
        opacity: 1;
        transform: translateY(0%);
        
    }
}

@keyframes loading-page{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}