@font-face
{
font-family: "Roboto";

src: url("../roboto/Roboto-Regular.ttf") ; 
font-style: normal;
font-weight: 50;
}



body
{   
font-family: "Roboto";
   font-size: map-get($map: $font-size , $key:large );
   margin: auto; 
}

.bckg--color
{
    background-color: #f6f6f6;

}