$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99E2D0;
$color-police-button: #FFF;
$color-icon:#7e7e7e;
$font-size:(medium:medium,large:large ,x-large:x-large ,xx-large:xx-large);