$color-primary:rgba(147,86,220,1);

$color-secondary:rgba(255,121,218,1);

$color-tertiary: #99E2D0;
$color-police-button: #FFF;
$color-icon:#7e7e7e;
$font-size:(x-small:x-small,small:small,medium:medium,large:large ,x-large:x-large ,xx-large:xx-large);
